:root {
  --font-size: 18px;
  --dark: #1E1E1F;
  --light: #F2F4F5;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size);
  color: var(--dark);
  line-height: 1.5;
  background: var(--light);
}

#root {
  max-width: 375px;
  margin: 0 auto;
  padding: 105px 24px 56px;
}